<html>
    <body>
        <h1> BOOK ADDITION </h1>
<!-- Indicates that form is sending data via GET method and it is submitted to cprocess url  -->
        <FORM method="GET" action="addbooks">

            <P> Title : <INPUT type="text" name="bname" /> </P> 
            
            <P> Pages : <INPUT type="text" name="pages" /> </P>

           
            <P> Price : <INPUT type="text" name="price" /> </P>

            <P> Author : <INPUT type="text" name="author" /> </P>

            <Input type="submit" Value="ADD BOOK"/>

        </FORM> 
    </body>
</html>