<html>
    <body>
        <h1> CUSTOMER REGISTRATION </h1>
<!-- Indicates that form is sending data via GET method and it is submitted to cprocess url  -->
        <FORM method="GET" action="cprocess">

            <P> Name : <INPUT type="text" name="uname" /> </P> 
            
            <P> Age : <INPUT type="text" name="age" /> </P>

            <P> Gender : <Input type="radio" name="gender" value="Male"> Male
                         <Input type="radio" name="gender" value="Female"> Female
            </P>
            <P> City : <INPUT type="text" name="city" /> </P>

            <Input type="submit" Value="REGISTER"/>

        </FORM> 
    </body>
</html>